body {
  background-color: linen;
}

h3 {
  text-align: center;
  text-decoration: underline;
}

.App {
  text-align: center;
  margin-bottom: 100px;
}

.answer-button, .answer-button-done {
  display: block;
  margin: 5px auto;
  border: 1px solid #0F23DC;
  border-radius: 5px;
  color: white;
  background-color: blue;
  cursor: pointer;
  padding: 5px 25px;
  font-weight: 600;
  max-width: 200px;
  min-width: 200px;
  min-height: 40px;
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  transition: all 0.1s;
}

.answer-button-done {
  cursor: auto;
}

.answer-button:hover,
.answer-button:active {
  background-color: #0A1891;
}

.answer-button-correct {
  background-color: green;
}

.answer-button-incorrect {
  background-color: red;
}

.next-button {
  border: 1px solid black;
  color: white;
  background-color: grey;
  cursor: pointer;
  padding: 10px 30px;
  margin: 5px 20px;
  font-weight: 200;
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  transition: all 0.1s;
}

.next-button:hover,
.next-button:active {
  background-color: darkslategrey;
}


.start-button {
  border: 1px solid black;
  color: white;
  background-color: limegreen;
  cursor: pointer;
  padding: 10px 30px;
  margin: 5px 20px;
  font-weight: bold;
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  transition: all 0.1s;
}

.start-button:hover,
.start-button:active {
  background-color: seagreen;
}

.question-box {
  border: 1px solid blue;
  border-radius: 5px;
  padding: 15px;
  font-size: 1.2em;
  margin: 0 auto;
  width: 500px;
}

.question-box p {
  margin: 0;
}

.answer-box {
  text-align: center;
  margin: 0 auto;
  width: 500px;
}
